/**
 * Created by 熊超超 on 2017/8/4.
 */
@import "./vars";
.main-app {
  /*覆盖主题样式*/
  .qx-dialog .el-dialog{
    margin-bottom: 16px;
    &.is-fullscreen{
      margin-bottom: 0;

      .el-dialog__body{
        > * {
          height: calc(100vh - 156px) !important;
        }
      }
    }
  }
  .vxe-table {
    .vxe-filter--btn.el-icon-arrow-down{
      font-size: 14px;
      font-weight: bold;
      &:hover{
        color: $--color-primary;
      }
    }
    .is--filter-active .vxe-cell--filter .vxe-filter--btn{
      color: $--color-primary;
    }
    .vxe-table--fixed-right-wrapper.scrolling--middle{
      box-shadow: -4px 0 4px 0 rgba(0,0,0, 0.06) !important;
    }
    .vxe-table--header{
      color: #909399;
    }
    &.size--small{
      font-size: 12px !important;
    }
    .vxe-table--empty-placeholder{
      border-bottom: 1px solid #EBEEF5;
      color: #909399;
      top: 38px !important;
    }
    .vxe-table--empty-block{
      width: 100% !important;
    }
    .vxe-checkbox--checked-icon:before{
      color: $--color-primary !important;
      border-color: $--color-primary !important;
      background-color: $--color-primary !important;
    }
    .vxe-cell--checkbox:not(.is--disabled):hover .vxe-checkbox--icon:before{
      border-color: $--color-primary !important;
    }
    .vxe-checkbox--icon:before{
      border-width: 1px;
    }
    .vxe-table--header-wrapper{
      background-color: #fafafa !important;
    }
    .is--checked.vxe-custom--option .vxe-checkbox--icon:before,
    .is--checked.vxe-export--panel-column-option .vxe-checkbox--icon:before,
    .is--checked.vxe-table--filter-option .vxe-checkbox--icon:before,
    .is--indeterminate.vxe-custom--option .vxe-checkbox--icon:before,
    .is--indeterminate.vxe-export--panel-column-option .vxe-checkbox--icon:before,
    .is--indeterminate.vxe-table--filter-option .vxe-checkbox--icon:before,
    .vxe-table--render-default .is--checked.vxe-cell--checkbox .vxe-checkbox--icon:before,
    .vxe-table--render-default .is--indeterminate.vxe-cell--checkbox .vxe-checkbox--icon:before {
      color: $--color-primary !important;
      border-color: $--color-primary !important;
      background-color: $--color-primary !important;
    }
    .vxe-custom--option:not(.is--disabled):hover .vxe-checkbox--icon:before,
    .vxe-export--panel-column-option:not(.is--disabled):hover .vxe-checkbox--icon:before,
    .vxe-table--filter-option:not(.is--disabled):hover .vxe-checkbox--icon:before,
    .vxe-table--render-default .vxe-cell--checkbox:not(.is--disabled):hover .vxe-checkbox--icon:before{
      border-color: $--color-primary !important;
    }
    .filter--active .vxe-cell--filter .vxe-filter--btn{
      color: $--color-primary !important;
    }
    .vxe-table--filter-wrapper {
      .vxe-table--filter-footer button:hover{
        color: $--color-primary !important;
      }
      li{
        &.is--checked{
          color: $--color-primary !important;
        }
      }
    }
  }
  .vxe-table--tooltip-wrapper{
    z-index: 3000!important;
  }
}
